.places {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 984px;
    margin: 92px auto;
    font-family: "Inter", Arial, Helvetica;
}

.places:first-child {
    margin-top: 0;
}

@media screen and (max-width: 1024px) {
    .places {
        max-width: 90vw;
        margin-top: 92px;
    }
}

@media screen and (max-width: 768px) {
    .places {
        max-width: 94vw;
        margin-top: 88px;
    }
}

@media screen and (max-width: 320px) {
    .places {
        max-width: 100%;
        margin-top: 64px;
    }
}