.places__url {
    width: 49%;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-right:  0;
    margin-bottom: 0;
    margin-left: 0;
}
@media screen and (max-width: 1024px){
    .places__url {
        width: 50%;
   }
}

@media screen and (max-width: 1024px){
    .places__url {
        width: 49%;
        padding-left: 20px;
   }
}

@media screen and (max-width: 320px) {
    .places__url {
        width: 90%;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: auto;
        padding: 0;
   }
}
