.header__lang {
    background-color: #2A2C2F;
    border: 0;
    max-width: 30px;
    margin: 18px auto;
    justify-content: space-between;
    color: #FFFFFF;
}
.header__lang:active {
    text-decoration: underline;
}


