.footer-menu {
    display: flex;
    flex-wrap: wrap;
    font-weight: normal;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #fff;
    border: 1px solid red;
}

@media screen and (max-width: 420px) {
    .footer-menu {
        max-width: 60%;
   }
}

@media screen and (max-width: 320px) {
    .footer-menu {
        flex-direction: column;
        max-width: 100%;
   }
}