.places__title {
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: auto;
    margin-right:  40px;
    font-family: "Inter", Arial, Helvetica;
    margin-bottom: 0;
    margin-left: 0;
    max-width: 460px;
    padding: 0;
}
@media screen and (max-width: 1024px){
    .places__title {
        max-width: 440px;
        margin-right: 32px;
   }
}
@media screen and (max-width: 768px) {
    .places__title {
        font-size: 42px;
        line-height: 46px;
        margin-right: 28px;
        max-width: 340px;
   }
}
@media screen and (max-width: 320px) {
    .places__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 90%;
        margin-left: 0;
        margin-bottom: 32px;
        margin-right: 0;
        max-width: 100%;
   }
}
