.header__logo {
    max-width: 176px;
    min-height: 100%;
}

@media screen and (max-width: 768px) {
    .header__logo {
        max-width: 23vw;
        max-height: 42px;
   }
}
@media screen and (max-width: 320px) {
    .header__logo {
        max-width: 45vw;
        height: 42px;
   }
}