.cover__text{
    margin-top: auto;
    margin-bottom: auto;
}

@media screen and (max-width: 400px) {
    .cover__text {
        margin-top: 50px;
   }
}

@media screen and (max-width: 320px) {
    .cover__text {
        margin: auto 16px;
        max-width: 288px;
        padding: 0;
        text-align: center;
   }
}
