.lead__subtitle {
    max-width: 640px;
    border-radius: 0px;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0 auto 64px;
    font-family: "Inter", Arial, Helvetica;
}
@media screen and (max-width: 320px) {
    .lead__subtitle {
        max-width: 90vw;
        font-size: 16px;
        line-height: 20px;
   }
}