.cover {
    max-width: 1184px;
    min-height: 740px;
    position: relative;
    background-image: url(../../images/__background.png);
    background-position: center;
    display: flex;
    background-size: cover;
    justify-content: center;
    margin: auto;
    font-family: "Inter", Arial, Helvetica;
}
.cover::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: 0.3;
}

.cover:hover::after {
    opacity: 80%;
}

@media screen and (max-width: 1024px){
    .cover {
        max-width: 100vw;
        min-height: 640px;
   }
}
@media screen and (max-width: 768px) {
    .cover {
        min-height: 480px;
   }
}
@media screen and (max-width: 320px) {
    .cover {
        min-height: 200px;
   }
}
