.lead__capture {
    max-width: 258px;
    color: #FFFFFF;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-align: left;
    margin: 8px 0 0;
    padding: 0;
    font-family: "Inter", Arial, Helvetica;
    text-transform: uppercase;
    border: 1px solid red;
}
@media screen and (max-width: 320px) {
    .lead__capture {
        margin-bottom: 0;
   }
}

@media screen and (max-width: 768px) {
    .lead__capture {
        margin-left: 24px;
   }
}
